*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: dimgray;
}
form {
    border: 2px solid red;
    height: 760px;
    width: 600px;
    background-color: rgb(136, 163, 163);
    text-align: center;
    margin-top: 2% ;
    padding: 20px;
}
.Input{
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    height: 30px ;
    width: 250px;
}
#btn{
    height: 30px ;
    width:100px ;
    margin: 40px;
    
    border-radius: 5px;

}
#btn2{
    height: 30px ;
    width:100px ;
    border-radius:5px;

}
button:hover{
    background-color: rgb(40, 73, 73);
}
#Author{
    margin-right: 25px;
}
#date{
    border-radius: 5px;
    height: 30px;
    width: 160px;
    margin-top: 10px;
    margin-left: 40px;
}
#language{
border-radius: 5px;
margin-top: 10px;
margin-left: 40px;
height: 30px;
width: 160px;
}
.radioBtn{
    padding: 20px;
}
.E404{
    color: rgb(192, 81, 81);
    font-size: bold;
}

table,th,td{
    border: 2px solid rgb(19, 100, 138); 
    
}
#book{
    font-size: large;
    font-style: italic;
    inline-size: 1.5px;
    color: rgb(80, 53, 55);
    background-color: rgb(90, 137, 236);
    height: 140px;
    width: 500px;
    margin-top: 20%;
    padding: 5px;
    border-radius: 10px;
}
#print{
    border-radius: 10px;
    margin: 20px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    
}

 